<%= form_for @reservation, url: restaurant_reservations_path do |f| %>
                
<p>        
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>

<p>
  <%= f.label :requested_date_and_time %>
   <p><%= f.date_select :requested_date_time, {:order => [:month, :day, :year],
   	:prompt => true, :start_year => Time.now.year, :end_year => Time.now.year + 1} %></p>
   	<p><%= time_field(:requested_date_time, :started_at => Time.now) %></p>
</p>

<p>
  <%= f.label :message %>
  <%= f.text_area :message %>
</p>

<p>
  <%= f.submit "Save reservation" %>
</p>

<% end %>