
<h4> Owned by: <%= current_owner.name %></h4>

<table>
  <tr>
      <%= image_tag @restaurant.avatar_url(:thumb) %>
  </tr>
  <tr>
    <td>
      <strong>Name:</strong> <%= @restaurant.name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Description:</strong> <%= @restaurant.description %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Address:</strong> <%= @restaurant.address %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Phone Number:</strong> <%= @restaurant.phone_number %>
    </td>
  </tr>
</table>
<br>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{url_encode(@restaurant.address)}&markers=color:red|#{url_encode(@restaurant.address)}&zoom=14&size=200x200&sensor=false&key=AIzaSyCzFcVAF6FmVvdJomC1mzaeMLNBCoNJcGI"  %>
<br>
<br>

<% if @restaurant.owner == current_owner %>
  <%= link_to "Edit", edit_restaurant_path %>

  | <%= link_to "Destroy", restaurant_path(@restaurants), :method => :delete, data:
    {confirm: 'Are you sure?'} %>
<% end %>
| <%= link_to "Back to List", restaurants_path %>