<h1>Show</h1>

<table>
  <tr>
    <td><strong>Name:</strong> <%= @restaurants.name %></td>
  </tr>
  <tr>
    <td><strong>Description:</strong> <%= @restaurants.description %></td>
  </tr>
  <tr>
    <td><strong>Address:</strong> <%= @restaurants.address %></td>
  </tr>
  <tr>
    <td><strong>Phone Number:</strong> <%= @restaurants.phone_number %></td>
  </tr>
</table>
<%= link_to "Edit", edit_restaurant_path %>
<%= link_to "Destroy", restaurant_path(@restaurants), :method => :delete, data:
  {confirm: 'Are you sure?'} %>