<!DOCTYPE html>
<html>
<head>
  <title>ReserveMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if owner_signed_in? %>
    <h4>You have successfully logged in <%= current_owner.name %>!</h4>
    <%= link_to "Sign Out", destroy_owner_session_path, :method => :delete %>
    | <%= link_to "Edit Profile",edit_owner_registration_path %>

  <% else %>

    <h1> Welcome to Reserve.Me!</h1>
    <%= link_to "Sign In", new_owner_session_path, method: :get %>
    | <%= link_to "Sign Up", new_owner_registration_path, method: :get %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 

<%= yield %>

</body>
</html>
